version: '3.9'

services:
  pin-paraiso:
    container_name: pin-paraiso
    build:
      context: .
      dockerfile: Dockerfile.dev
    extra_hosts:
      - host.docker.internal:host-gateway
    logging:
      driver: local
      options:
        max-size: '10m'
        max-file: '10'
    restart: unless-stopped
    ports:
      - 3000:3000
    volumes:
      - ./code:/app
  